

%form.create_form{ :method => "post" }
    %h2="enter your question..."
    %textarea{ :name => "question", :cols => "40", :rows => "6", :tabindex => 1 }="#{@question}"

    %h2="and then enter some possible answers..."

    %ol#answers_list
        %li
            %input.answer{ :type => "text", :name => "answers[]", :tabindex => 2 }
        %li
            %input.answer{ :type => "text", :name => "answers[]", :tabindex => 3 }
        %li
            %input.answer{ :type => "text", :name => "answers[]", :tabindex => 4 }
    - if not @current_user.max_answers_per_poll or @current_user.max_answers_per_poll > 3
        %p#add_answer_paragraph
            %a#add_answer_link{ :href => "#" }="add another answer"
    - else
        %p
            %em="you must upgrade your account to offer more than 3 choices"

    - if @current_user.can_choose_chart_type?
        .choose_chart_type
            %h3="how do you want to display the results?"
            %input#bar_chart{ :type => "radio", :name => "chart_type", :value => "bar", :checked => true }
            %label{ :for => "bar_chart" }="bar chart"
            %br
            %input#pie_chart{ :type => "radio", :name => "chart_type", :value => "pie" }
            %label{ :for => "pie_chart" }="pie chart"

    %p
        %input{ :type => "submit", :value => "publish poll" }

:javascript
    $(document).ready(function() {
        $("#add_answer_link").click(add_answer_callback(3, 5, "#answers_list"));
    });

