="welcome to #{@config["site_name"]}"
=""
="you, #{@user.full_name}, have signed up for a new account with the username: #{@user.username}"
=""
="you can now create your own polls and have people vote on them ... it's fun to see the results"
