
%p.notice="after trying to \"monetize\" poll4.me from the start, i've discovered that people don't find it worth paying for. so i'm making it free for everyone, for the foreseeable future. enjoy, please!"

%h2="welcome to poll4.me"

%ul
    %li="create polls and view the results"
    %li="get rss feeds from people whose polls you want to take, so you can easily come back and take them"
    %li="that's it! poll4.me is as simple as that, and as interesting as you make it"

%h3="free"

%ul.features
    %li="create unlimited polls"
    %li="polls never expire"
    %li="ads will be displayed"
    %li="choose whether you want results as a bar chart or pie chart"
    %li="rss feed for your polls"
    %li="unlimited answer choices per poll"
    %li="unlimited votes per poll"
    %li="you can copy any poll, to take them again and see changing results over time"
    %li="embed polls on external sites"

- if not @current_user
    %p
        %a{ :href => "/login/" }="login"
        ="or"
        %a{ :href => "/signup/" }="signup"

